{{- if $.Values.imageStream.enabled }}
kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: {{ include "getFullnameImageStream" (list $.Release.Name $.Values.imageStream.name) }}
spec:
  lookupPolicy:
    local: false
  tags:
  {{- range $moduleName, $module := .Values.modules }}
    - name: {{ $moduleName }}
      annotations: {}
      from:
        kind: DockerImage
        name: {{ $module.image.registry }}/{{ $module.image.repository }}:{{ $module.image.tag }}
      importPolicy:
        scheduled: true
      referencePolicy:
        type: Source
{{- end }}
{{- end }}
