# These team members will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# all members of @it-at-m/helm-charts_maintainer will be requested for
# review when someone opens a pull request.
* @it-at-m/helm-charts_maintainer

# individual chart owners
# preferably use teams instead of single persons, if possible
/charts/ad2image/ @eidottermihi
/charts/appswitcher-server/ @eidottermihi
/charts/java-spring-boot/ @eidottermihi
/charts/dave/ @gislab-augsburg @klml @it-at-m/dave_admin
/charts/ezldap/ @eidottermihi
/charts/kf-app-eai/ @it-at-m/kf-app-eai_admin
/charts/pentaho-carte/ @lenabMUC @ejcsid
/charts/wjh-rechner/ @it-at-m/wjh_admin
/charts/zammad-ldap-sync/ @klml @sfi2022
/charts/refarch-gateway/ @it-at-m/refarch-maintainer
/charts/refarch-templates/ @it-at-m/refarch-maintainer @it-at-m/sps
/charts/sps-sample/ @it-at-m/sps
/charts/erzwingungshaft @sfi2022 @langehm
/charts/common/ @eidottermihi
