modules:
  - name: frontend
    image:
      repository: ghcr.io/it-at-m/refarch-templates/refarch-frontend
      tag: "latest"
    service:
      http: true
  - name: webcomponent
    image:
      repository: ghcr.io/it-at-m/refarch-templates/refarch-webcomponent
      tag: "latest"
    service:
      http: true
# Commented out because backend currently cannot be tested publicly without DB connection
#  - name: backend
#    image:
#      repository: ghcr.io/it-at-m/refarch-templates/refarch-backend
#      tag: "latest"
#    applicationYML:
#      spring:
#        profiles:
#          active: "no-security"
#    service:
#      http: true
  - name: eai
    image:
      repository: ghcr.io/it-at-m/refarch-templates/refarch-eai
      tag: "latest"
    service:
      http: true