apiVersion: v2
name: dave
description: DAVe traffic counting plattform
type: application
version: 0.2.5
maintainers:
  - name: klml
    email: klml@muenchen.de
home: https://github.com/it-at-m/helm-charts/tree/main/charts/dave
icon: https://raw.githubusercontent.com/it-at-m/helm-charts/main/images/logo.png
sources:
  - "https://github.com/it-at-m/helm-charts"
dependencies:
  - name: elasticsearch
    repository: https://charts.bitnami.com/bitnami
    version: 22.1.6
    condition: externalCharts.elasticsearch.enabled
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 18.2.0
    condition: externalCharts.postgresql.enabled
  - name: keycloak
    repository: https://charts.bitnami.com/bitnami
    version: 25.2.0
    condition: externalCharts.keycloak.enabled
  - name: backend
    version: "*"
    condition: externalCharts.backend.enabled
  - name: frontend
    version: "*"
    condition: externalCharts.frontend.enabled
  - name: admin-portal
    version: "*"
    condition: externalCharts.adminportal.enabled
  - name: selfservice-portal
    version: "*"
    condition: externalCharts.selfserviceportal.enabled
  - name: eai
    version: "*"
    condition: externalCharts.eai.enabled
  - name: document-storage
    version: "*"
    condition: externalCharts.documentstorage.enabled
  - name: geodata-eai
    version: "*"
    condition: externalCharts.geodataeai.enabled
