apiVersion: v2
name: dave
description: DAVe traffic counting plattform
type: application
version: 0.0.20
appVersion: "v1.0.0"
maintainers:
  - name: klml
    email: klml@muenchen.de
home: https://github.com/it-at-m/helm-charts/tree/main/charts/dave
icon: https://raw.githubusercontent.com/it-at-m/helm-charts/main/images/logo.png
sources:
  - "https://github.com/it-at-m/helm-charts"
dependencies:
  - name: elasticsearch
    repository: https://charts.bitnami.com/bitnami
    version: 22.1.6
    condition: externalCharts.elasticsearch.enabled
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 18.1.4
    condition: externalCharts.postgresql.enabled
  - name: keycloak
    repository: https://charts.bitnami.com/bitnami
    version: 25.2.0
    condition: externalCharts.keycloak.enabled
  - name: backend
    version: "*"
  - name: frontend
    version: "*"
  - name: admin-portal
    version: "*"
  - name: selfservice-portal
    version: "*"
  - name: eai
    version: "*"
