apiVersion: v2
name: dave
description: DAVe traffic counting plattform
type: application
version: 0.0.2
appVersion: "v1.0.0"
maintainers:
  - name: gislab-augsburg
    email: martymcfly333@gmail.com
  - name: klml
    email: klml@muenchen.de
home: https://github.com/it-at-m/helm-charts/tree/main/charts/dave
icon: https://opensource.muenchen.de/assets/itm-logo-256.png
sources:
  - "https://github.com/it-at-m/helm-charts"
dependencies:
  - name: elasticsearch
    repository: https://charts.bitnami.com/bitnami
    version: 21.1.0
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 14.3.0
  - name: backend
    version: "*"
  - name: frontend
    version: "*"
  - name: admin-portal
    version: "*"
  - name: selfservice-portal
    version: "*"
  - name: eai
    version: "*"
