{{- $dot := . }}
{{- range $configmap := .Values.configMaps -}}
{{ $data := dict "dot" $dot "module" $configmap }}
{{ $checksum := $configmap.data | toYaml | sha256sum | trunc 64 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $configmap.name }}
  labels:
    {{- include "getLabels" $data | trim  | nindent 4 }}
  annotations:
    checksum/config: {{ $checksum }}
data: 
  {{/* Force blank line */}}
  {{- $configmap.fileName}}: |
    {{- $configmap.data | toYaml | nindent 4 }}
{{- end }}