apiVersion: v1
kind: Service
metadata:
  name: {{ include "refarch-gateway.fullname" . }}
  labels:
    {{- include "refarch-gateway.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.hazelcast.enabled }}
    - name: hazelcast
      protocol: TCP
      port: 5701
      targetPort: 5701
    {{- end }}
  selector:
    {{- include "refarch-gateway.selectorLabels" . | nindent 4 }}
