name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - "charts/**"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup git user
        uses: fregante/setup-git-user@v2
      - name: Install Helm
        uses: azure/setup-helm@v4
      - name: Add dependency repos
        run: |
         helm repo add bitnami https://charts.bitnami.com/bitnami
         helm repo add it-at-m https://it-at-m.github.io/helm-charts
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ github.token }}"
